{% if page.pages is defined %}
{% set pages = page.pages %}
{% endif %}
{% if page.pagination.pages is defined %}
{% set pages = page.pagination.pages %}
{% endif %}

{% extends '_default/page.html.twig' %}

{% block content %}
<section class="section">
	<div class="container">

		{% for project in pages %}
		{% if loop.index0 is divisible by(3) %}
		<div class="columns">
			{% endif %}
			<div class="column is-one-third is-desktop">
				<div class="card">
					<div class="card-image">
						<figure class="image is-3by2">
							<img src="{{ project.image|resize(320) }}">
						</figure>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4">
									<a href="{{ url(project) }}">{{ project.title|e }}</a>
								</p>
							</div>
						</div>
						<div class="content">
							{{ project.excerpt }}<br><br>
							<p>
								{{ project.date|date('j M Y') }}<br>
								<i class="far fa-folder"></i>&nbsp;
								{% with %}
								{% set category=project.categories.0 %}
								<a href="{{ url('categories/'~category) }}">
									{{ category }}
								</a>
								{% endwith %}
							</p>
							{% if project.tags %}
							<div class="columns is-vcentered">
								<div class="column is-1">
									<span class="icon">
										<i class="fas fa-tags"></i>
									</span>
								</div>
								<div class="column is-11">
									<div class="tags">
										{% for tag in project.tags %}
										<span class="tag is-rounded">
											<a href="{{ url('tags/'~tag) }}">
												{{ tag }}
											</a>
										</span>
										{% endfor %}
									</div>
								</div>
							</div>

							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% if loop.index is divisible by(3) or loop.last %}
		</div>
		<!-- end div columns-->
		{% endif %}
		{% else %}
		<article class="message is-danger">
			<div class="message-body">
				No project found.
			</div>
		</article>
		{% endfor %}

	</div> <!-- end class container -->
</section>
{% endblock content %}